SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
# Connect to an SQLite database

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor() # create a cursor object

In [5]:
# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
''')

## Commit the changes
connection.commit()

In [6]:
cursor.execute('''
SELECT * FROM employees
''')

In [7]:
## Insert the data in sqlite table
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('John', 25, 'HR')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Marie', 30, 'IT')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Andrew', 28, 'Data Science')
''')

## Commit the changes
connection.commit()

In [8]:
## Query the data from the table
cursor.execute('''
SELECT * FROM employees
''')
rows = cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'John', 25, 'HR')
(2, 'Marie', 30, 'IT')
(3, 'Andrew', 28, 'Data Science')