In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
 df = pd.read_csv('cleaned_aff.csv')

In [6]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29.0,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29.0,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26.0,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25.0,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27.0,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [7]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [8]:
## Drop month, day, and year columns
df.drop(['month','day','year'], axis=1, inplace=True)

In [9]:
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29.0,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,29.0,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,26.0,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,25.0,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,27.0,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [10]:
df['Classes'].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: count, dtype: int64

In [12]:
## Encoding
df['Classes'] = np.where(df['Classes'].str.contains("not fire"), 0, 1)

In [13]:
df.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  FWI  Classes  Region
0         29.0  57  18   0.0  65.7  3.4   7.6  1.3  3.4  0.5        0       0
1         29.0  61  13   1.3  64.4  4.1   7.6  1.0  3.9  0.4        0       0
2         26.0  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1        0       0
3         25.0  89  13   2.5  28.6  1.3   6.9  0.0  1.7  0.0        0       0
4         27.0  77  16   0.0  64.8  3.0  14.2  1.2  3.9  0.5        0       0

In [14]:
df.tail()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
238,30.0,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,1,1
239,28.0,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,0,1
240,27.0,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,1
241,24.0,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,1
242,24.0,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,1

In [15]:
df['Classes'].value_counts()

Classes
1    137
0    106
Name: count, dtype: int64

In [16]:
## Independent and dependent features
X = df.drop('FWI', axis=1)
y = df['FWI']

In [17]:
X.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  Classes  Region
0         29.0  57  18   0.0  65.7  3.4   7.6  1.3  3.4        0       0
1         29.0  61  13   1.3  64.4  4.1   7.6  1.0  3.9        0       0
2         26.0  82  22  13.1  47.1  2.5   7.1  0.3  2.7        0       0
3         25.0  89  13   2.5  28.6  1.3   6.9  0.0  1.7        0       0
4         27.0  77  16   0.0  64.8  3.0  14.2  1.2  3.9        0       0

In [18]:
y

0      0.5
1      0.4
2      0.1
3      0.0
4      0.5
      ...
238    6.5
239    0.0
240    0.2
241    0.7
242    0.5
Name: FWI, Length: 243, dtype: float64