In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a DataFrame with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [3]:
## Create a dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(0, 1, n_class_0),
    'feature_2': np.random.normal(0, 1, n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(2, 1, n_class_1),
    'feature_2': np.random.normal(2, 1, n_class_1),
    'target' : [1] * n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [6]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64